* {
    box-sizing: border-box;
}

.button-container{
    padding: 0.3rem;
    display: flex;
}

.reverse-order{
    flex-direction: row-reverse;
}

.icon{
    margin-left: 0;
    margin-right: 0.5rem;
}

.reverse-order .icon{
    margin-left: 0.5rem;
    margin-right: 0;
}

.text{
    display: inline-block;
}