* {
    box-sizing: border-box;
}

:root {
    /* --my-var: #004C78; */
    --some_var: #004C78;
}

h1 {
    /* background-color: var(--my-var, red); */
    background-color: var(--some_var, red);
}