/* Shorthand properties are a short notation for several properties at once 
   Careful. By using them, all other properties defined before the shorthand notation are overwritten with a default */

section {
    border: 2px solid blue;
    /* is short for: */
    border-radius: 2px;
    border-style: solid;
    border-color: blue;

    /* applies to all four sides */
    margin: 10px;
    /* top right bottom left */
    margin: 5px 10px 20px 30px;
    /* is the shorthand for top&bottom/left&right */
    margin: 10px 20px;

    /* all this could be shortened.. */
    background: url(../images/jungle.jpg);
    background-size: cover;
    background-position: left 20% center;
    background-repeat: no-repeat;
    background-origin: border-box;
    background-clip: content-box;
    /* ..to this: 
       background-position and background-size have to be separated by a / */
    background: url(../images/jungle.jpg) left 20% center/cover no-repeat border-box content-box;
}