.test {
    position: relative;
    width: 100vw;
    height: 80vh;
}

.left {
    margin: 2rem;
    background-color: #426742;
    height: 10rem;
}

.enterLeft {
    transform: translateX(-110%);
}

.enterActiveLeft {
    transform: translateX(0);
    transition: transform 1s linear;
}

.enterDoneLeft {
    transform: translateX(0);
}

.exitLeft {
    transform: translateX(0);
}

.exitActiveLeft {
    transform: translateX(-110%);
    transition: transform 1s linear;
}

.exitDoneLeft {
    transform: translateX(-110%);
}


.right {
    position: absolute;
    top: 0;
    right: 0;
    margin: 1rem;
    margin-top: 0;
    background-color: #10bb10;
    height: 10rem;
    width: 100vw;
}

.enterRight {
    transform: translateX(110%);
}

.enterActiveRight {
    transform: translateX(0);
    transition: transform 1s linear;
}

.enterDoneRight {
    transform: translateX(0);
}

.exitRight {
    transform: translateX(0);
}

.exitActiveRight {
    transform: translateX(110%);
    transition: transform 1s linear;
}

.exitDoneRight {
    transform: translateX(110%);
}