/* Grouping rules: Rules that should be applied to many selectors can be grouped using a "," */
main-nav__item a:hover,
main-nav__item a:inactive {
    color: white;
}

/* remove bullet points from a list with list-style:none (alternatively padding can be set to 0) */
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

div {
    width: 128px;
    height: 128px;
    /* creates a perfectly round circle*/
    border-radius: 50%;
    /* horizontal alignment can be achieved by auto margin (does not work for vertical alignment) */
    margin: auto;
}

/* if you want an element to be fully clickable over the entire width, switch to display:block */
a {
    display: block;
}

/* BEM: Block element modifier: a special form of naming convention e.g. "main-nav__item" */

/* Pay attention to unexpected inline-block behavior! 
   When you have line breaks in your html, the space between them is considered to be an element,
   so sometimes your elements will not be in the same line.
   e.g.
   </div>
   <nav>

   To fix this, put them next to each other or leave more space by subtracting more space from one */

/* Margin collapsing:
   When two elements with a margin are next to each other, only the bigger one is applied.
   e.g. top element with a bottom margin of 10, bottom element with a top margin of 5
        -> only a margin of 10 is used
*/