* {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
    display: grid;
    grid-template-columns: [col-1-start] 1fr [col-1-end col-2-start] 5fr [col-2-end];
    grid-template-rows: [header-start] 10vh [header-end] auto [footer-start] 10vh [footer-end];
}

header {
    grid-column-start: col-1-start;
    grid-column-end: col-2-end;
}

main{
    grid-column-start: col-2-start;
    grid-column-end: col-2-end;
}

aside{
    grid-column-start: col-1-start;
    grid-column-end: col-1-end;
    grid-row-start: header-end;
}

footer {
    grid-column-start: 1;
    grid-column-end: -1;
}

header,
aside,
main,
footer {
    padding: 2rem;
    margin: 0.5rem;
    background-color: blueviolet;
}