* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
}

.topics {
    padding: 10px;
    border: 2px solid #642472;
    border-left: none;
    background: rgba(100, 36, 114, 0.6);
    margin: 10px 0;
    width: 90%;
}

.topics:hover,
.topics:active {
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.topic-title {
    color: #311238;
    margin: 0;
    margin-top: 10px;
}

.topic-examples {
    list-style: none;
    padding: 0;
}

.topic-example-title {
    font-size: medium;
}

.topic-example {
    display: inline-block;
}

.topic-example a {
    text-decoration: none;
    color: white;
    padding: 10px;
    background: #531e5f;
}

.topic-example a:hover,
.topic-example a:active {
    background: rgba(100, 36, 114, 0.8);
    padding: 10px;
}

.topic-description {
    border: 1px solid black;
    padding: 10px;
    background: rgba(49, 18, 56, 0.4);
}

.topic-description h1 {
    font-weight: bold;
    font-size: small;
}

.topic-description p {
    font-size: small;
}

.topic-description li {
    font-size: small;
}

.selectors .topic-description {
    display: inline-block;
    width: 45%;
}