* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.main-header {
    background: #9736ac;
    padding: 8px 16px;
}

.main-header>div {
    display: inline-block;
    vertical-align: middle;
}

.main-header__brand {
    color: #311238;
    text-decoration: none;
    font-weight: bold;
}

.main-nav {
    display: inline-block;
    text-align: right;
    width: calc(100% - 50px);
    vertical-align: middle;
}

.main-nav__items {
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-nav__item {
    display: inline-block;
    margin: 0 5px;
}

.main-nav__item a {
    color: #311238;
    text-decoration: none;
    font-weight: bold;
    padding: 2px 0;
}

.main-nav__item a:hover,
.main-nav__item a:active {
    color: white;
    border-bottom: 3px solid white;
}

.main-nav__item--cta a {
    color: white;
    background: #642472;
    padding: 5px 16px;
    border-radius: 8px;
}

.main-nav__item--cta a:hover,
.main-nav__item--cta a:active {
    color: #642472;
    background: white;
    padding: 8px 16px;
    border: none;
}

#product-overview {
    background: url("leaves.jpg");
    height: 400px;
    color: white;
}

#product-overview h1 {
    margin: 0;
}