* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.main-header {
    background: #9736ac;
    padding: 8px 16px;
}

.main-header>div {
    display: inline-block;
    vertical-align: middle;
}

.main-header__brand {
    color: #311238;
    text-decoration: none;
    font-weight: bold;
}

.main-nav {
    display: inline-block;
    text-align: right;
    width: calc(100% - 45px);
    vertical-align: middle;
}

.main-nav__items {
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-nav__item {
    display: inline-block;
    margin: 0 5px;
}

.main-nav__item a {
    color: #311238;
    text-decoration: none;
}

#product-overview {
    background: #642472;
    height: 400px;
    color: white;
}