* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
}

main {
    /* ensure the footer is at the bottom by taking the entire height
       minus the margin in the top (for the navigation)
       minus the footer height */
    min-height: calc(100vh - 3rem - 4rem);
    margin-top: 3.2rem;
}

.main-header {
    background: #642472;
    padding: 0.25rem 1rem;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
}

.main-header>div {
    display: inline-block;
    vertical-align: middle;
}

.main-header__brand {
    color: #311238;
    text-decoration: none;
    font-weight: bold;
    height: 2.5rem;
    display: inline-block;
}

.main-header__brand img {
    width: 2.5rem;
    height: 100%;
}

.toggle-button {
    width: 3rem;
    background: transparent;
    border: none;
    cursor: pointer;
    padding-top: 0;
    padding-bottom: 0;
    vertical-align: middle;
}

.toggle-button:focus {
    outline: none;
}

.toggle-button__bar {
    width: 100%;
    height: 0.2rem;
    background: black;
    display: block;
    margin: 0.6rem 0;
}

.mobile-nav {
    display: none;
    position: fixed;
    z-index: 101;
    top: 0;
    left: 0;
    background: white;
    width: 80%;
    height: 100vh;
}

.mobile-nav__items {
    width: 90%;
    height: 100%;
    list-style: none;
    margin: 10% auto;
    padding: 0;
    text-align: center;
}

.mobile-nav__item {
    margin: 1rem 0;
}

.mobile-nav__item a {
    font-size: 1.5rem;
}

.main-nav {
    display: none;
}

.main-footer {
    background: black;
    padding: 2rem;
    margin-top: 3rem;
}

.main-footer__links {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.main-footer__link {
    display: block;
    margin: 1rem 0;
}

.main-footer__link a {
    text-decoration: none;
    color: white;
}

.main-footer__link a:hover,
.main-footer__link a:active {
    color: #ccc;
}

.button {
    background: #642472;
    color: white;
    font: inherit;
    border: 1.5px solid #642472;
    padding: 0.5rem;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

.button:hover,
.button:active {
    background: white;
    color: #642472;
}

@media (min-width: 40rem) {
    .toggle-button {
        display: none;
    }

    .toggle-button__bar {
        display: none;
    }

    .main-nav {
        display: inline-block;
        text-align: right;
        width: calc(100% - 100px);
        vertical-align: middle;
    }

    .main-nav__items {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    .main-nav__item {
        display: inline-block;
        margin: 0 0.3rem;
    }

    .main-nav__item a {
        color: #311238;
        text-decoration: none;
        font-weight: bold;
        padding: 0.1rem 0;
    }

    .main-nav__item a:hover,
    .main-nav__item a:active {
        color: white;
        border-bottom: 0.2rem solid white;
    }

    .main-nav__item--cta a {
        color: white;
        background: #9736ac;
        padding: 0.3rem 1rem;
        border-radius: 8px;
    }

    .main-nav__item--cta a:hover,
    .main-nav__item--cta a:active {
        color: #642472;
        background: white;
        padding: 0.5rem 1rem;
        border: none;
    }

    .main-footer__link {
        display: inline-block;
        margin: 0 1rem;
    }
}