:root {
    --main-color: #642472;
}

* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    display: grid;
    /* 3rem for the navbar and 8rem for the footer */
    /* grid-template-rows: 3.5rem auto 8rem; */
    grid-template-rows: 3rem auto fit-content(8rem);
    height: 100%;
    /* an alternative for positioning would be to define a grid area */
    grid-template-areas:
        "header"
        "main"
        "footer";
}

main {
    /* ensure the footer is at the bottom by taking the entire height
       minus the margin in the top (for the navigation)
       minus the footer height -> not the nicest solution, 
       so it was fixed by introducing a grid */
    /* min-height: calc(100vh - 3rem - 4rem); */
    /* margin-top: 3rem; */
    grid-row: 2 / 3;
}

.main-header {
    background: var(--main-color);
    padding: 0.25rem 1rem;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    display: flex;
    align-items: center;
}

.main-header__brand {
    color: #311238;
    text-decoration: none;
    font-weight: bold;
}

.main-header__brand img {
    width: 2.5rem;
    height: 100%;
    vertical-align: middle;
}

.toggle-button {
    width: 3rem;
    background: transparent;
    border: none;
    cursor: pointer;
    padding-top: 0;
    padding-bottom: 0;
    vertical-align: middle;
}

.toggle-button:focus {
    outline: none;
}

.toggle-button__bar {
    width: 100%;
    height: 0.2rem;
    background: black;
    display: block;
    margin: 0.6rem 0;
}

.main-nav__item a,
.mobile-nav__item a {
    color: #311238;
    text-decoration: none;
    font-weight: bold;
    padding: 0.1rem 0;
}

.main-nav__item a:hover,
.main-nav__item a:active,
.mobile-nav__item a:hover,
.mobile-nav__item a:active {
    color: white;
    border-bottom: 0.2rem solid white;
}

.main-nav__item--cta {
    animation: wiggle 200ms 1s 6;
}

.main-nav__item--cta a,
.mobile-nav__item--cta a {
    color: white;
    background: #9736ac;
    padding: 0.3rem 1rem;
    border-radius: 8px;
}

.main-nav__item--cta a:hover,
.main-nav__item--cta a:active,
.mobile-nav__item--cta a:hover,
.mobile-nav__item--cta a:active {
    color: var(--main-color);
    background: white;
    padding: 0.5rem 1rem;
    border: none;
}

.mobile-nav {
    position: fixed;
    z-index: 101;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    transition: transform 300ms ease-out;
    background: white;
    width: 80%;
    height: 100vh;
}

.mobile-nav__visible {
    transform: translateX(0%);
}

.mobile-nav__items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 100%;
    list-style: none;
    margin: 0 auto;
    padding: 0;
}

.mobile-nav__item {
    margin: 1rem 0;
}

.mobile-nav__item a {
    font-size: 1.5rem;
}

.main-nav {
    display: none;
}

.main-footer {
    /* using an area: */
    grid-area: footer;
    background: black;
    padding: 2rem;
    margin-top: 3rem;
}

.main-footer__links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-footer__link {
    margin: 0.5rem 0;
}

.main-footer__link a {
    text-decoration: none;
    color: white;
}

.main-footer__link a:hover,
.main-footer__link a:active {
    color: #ccc;
}

.button {
    background: var(--main-color);
    color: white;
    font: inherit;
    border: 1.5px solid var(--main-color);
    padding: 0.5rem;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

.button:hover,
.button:active {
    background: white;
    color: var(--main-color);
}

/* selects all buttons which are disabled */
.button[disabled] {
    cursor: not-allowed;
    border: #a1a1a1;
    background-color: #ccc;
    color: #a1a1a1;
}

@media (min-width: 40rem) {
    .toggle-button {
        display: none;
    }

    .toggle-button__bar {
        display: none;
    }

    .main-header {
        justify-content: space-between;
    }

    .main-nav {
        display: flex;
    }

    .main-nav__items {
        display: flex;
        margin: 0;
        padding: 0;
        list-style: none;
    }

    .main-nav__item {
        margin: 0 0.3rem;
    }

    .main-footer__links {
        flex-direction: row;
        justify-content: center;
    }

    .main-footer__link {
        margin: 0 1rem;
    }
}

@keyframes wiggle {
    0% {
        transform: rotateZ(0)
    }

    50% {
        transform: rotateZ(-15deg);
    }

    100% {
        transform: rotateZ(15deg);
    }
}