.personTurn {
    position: relative;
    display: inline-block;
}

.personTurn button {
    position: absolute;
    right: 0;
    top: 50%;
}

.image {
    transform: rotateY(0deg);
    transition: transform ease-in 1s;
}

.flipSideways {
    transform: rotateY(180deg);
    transition: transform ease-in 1s;
}

.eye {
    position: absolute;
    top: 10%;
    background-color: white;
    width: 1rem;
    height: 1rem;
    border: 3px solid white;
    border-radius: 50%;
}

.leftEye {
    left: 50%;
}

.rightEye {
    left: 60%;
}

.wink {
    transform: rotateX(90deg);
    transition: transform ease-in 0.3s;
}

.buttock {
    position: absolute;
    bottom: 37%;
    left: 48%;
    width: 0.5rem;
    height: 3rem;
    border-left: 3px solid white;
    border-radius: 100%;
    transform: rotateZ(180deg);
    opacity: 0;
}

.invisible {
    opacity: 0;
}

.visible {
    opacity: 1;
}