.sidebar {
  height: 30vh;
  width: 30vw;
  background-color: blueviolet;
  color: white;
  text-align: end;
  padding: 1rem;
}

.block {
  width: 5rem;
  height: 5rem;
  background-color: purple;
  margin: 0.1rem;
}

.list {
  list-style-type: none;
  padding-top: 5rem;
}
