.animationExample {
  margin: 5rem;
}

.animationExample button {
  margin-bottom: 2rem;
}

.area {
  width: 5rem;
  height: 5rem;
  background-color: purple;
  transform-origin: top left;
}

.grow {
  /* transform: scale(500%);
  transition: transform 1s; */
  animation: growSlowly 1s 4 alternate;
}

@keyframes growSlowly {
  from {
    width: 5rem;
    /* transform: scale(100%); */
    opacity: 1;
  }
  to {
    width: 10rem;
    /* transform: scale(500%); */
    opacity: 0;
  }
}

.hidableArea {
  width: 10rem;
  aspect-ratio: 1 / 1;
  background-color: blue;
  transform-origin: top left;
  opacity: 0;
}

.showArea {
  opacity: 1;
  transition: opacity 3s;
}

.hideArea {
  opacity: 0;
  transition: opacity 3s;
}
