h1 {
    display: inline-block;
    background: gainsboro;
    position: absolute;
    bottom: 0;
}

section {
    height: 250px;
    border: 2px dashed black;
    margin-bottom: 5px;
    background-image: url(../leaf_small.png);
    position: relative;
    background-color: rgba(138, 43, 226, 0.6);
}

div {
    height: 250px;
    border: 2px dashed black;
    margin-bottom: 5px;
    background-image: url(../leaf_small.png);
    position: relative;
    background-color: rgba(138, 43, 226, 0.6);
    background-repeat: no-repeat;
}

/* an image is repeated to fit the entire space of its parent
   a defined background color has no effect */
.default {
    background-color: red;
}

/* stops an image from being repeated */
.no_repeat {
    background-repeat: no-repeat;
}

/* repeats an image along the x-axis */
.repeat-x {
    background-repeat: repeat-x;
}

/* repeats an image along the y-axis */
.repeat-y {
    background-repeat: repeat-y;
}

/* define your own size which ignores the aspect ratio */
.background-size_own-size {
    background-size: 300px 200px;
}

/* stretches the image to fit on the x-axis */
.background-size_fit_x_axis {
    background-size: 100%;
}

/* stretches the image to fit on the y-axis */
.background-size_fit_y_axis {
    background-size: auto 100%;
}