#nature-overview {
    background: url("./images/leaves.jpg");
    background-size: auto 100%;
    background-position-y: center;
    height: 45vh;
    color: white;
    position: relative;
}

#nature-overview h1 {
    margin: 0;
    padding: 0.9rem 0 0 0.9rem;
    font-size: 30px;
    position: absolute;
    bottom: 5%;
}

.section-title {
    color: #642472;
    text-align: center;
}

.tours {
    display: flex;
    flex-direction: column;
}

.tour {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #514471;
    padding: 1rem;
    width: 100%;
}

.tour--highlighted {
    background: #531e5f;
    color: white;
    /* rgba: a = 1 -> not transparent / a = 0 -> fully transparent */
}

.tour__title {
    color: #311238;
}

.tour__price {
    color: #838383;
    margin: 0;
}

.tour--highlighted .tour__title {
    color: white;
}

.tour--highlighted .tour__price {
    color: #311238;
}

.tour__annotation {
    background: white;
    color: #531e5f;
    padding: 0.5rem;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
    border-radius: 0.5rem;
}

.tour__features {
    padding: 0;
    margin: 0 0 1rem 0;
    list-style: none;
}

.tour__features li {
    margin: 0.3rem 0;
}

#key-features {
    background: #327224;
    margin-top: 2rem;
}

#key-features .section-title {
    color: white;
    padding: 0.8rem
}

.key-features__features {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.key-features__image {
    background: #9736ac;
    width: 8rem;
    height: 8rem;
    border: 2px solid #642472;
    /* creates a perfectly round circle */
    border-radius: 50%;
    /* horizontal alignment can be achieved by auto margin (does not work for vertical alignment) */
    margin: auto;
}

.key-features__features p {
    font-weight: bold;
    color: white;
    font-size: 1.2rem;
}

@media (min-width: 40rem) {
    #nature-overview {
        background-size: 100%;
    }

    .tours {
        margin: auto;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .tour {
        display: flex;
        text-align: center;
        width: 30%;
        margin: auto 0.2rem;
        min-width: 13rem;
        max-width: 25rem;
    }

    .tour__annotation {
        width: 100%;
    }

    .tour--highlighted {
        box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
    }

    .key-features__features {
        flex-direction: row;
        justify-content: center;
    }

    .key-features__features li {
        width: 30%;
        max-width: 25rem;
    }
}