.boards {
    display: flex;
    flex-direction: row;
}

.boards div {
    flex-grow: 1;
}

.first {
    background-color: green;
}

.second {
    background-color: red;
}

.third {
    background-color: yellow;
}