.loadingSpinner {
    /* inline-block allows setting a width and height on an element (where as inline does not)*/
    display: inline-block;
    /* this fixes the gap on the bottom of inline-block elements*/
    margin-bottom: -0.25rem;
    width: 2rem;
    height: 2rem;
    border: 5px solid #b81818;
    border-bottom-color: transparent;
    border-radius: 50%;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}