/* Float takes an element out of the document flow (the order of the elements) and floats it to a certain position
   above the existing elements.
   This is great for having text or images float around an element but it is no good for block elements
   such as sections, div's because they ignore this attribute -> see clearfix */
img {
    float: right;
}

/* A clearfix div element is a workaround for floating elements. It tells the browser to ignore the upcoming floats
   and makes the floating element appear as if it was still part of the document flow. Any elements following the
   floating element appear normally in the document flow and do not float around the floating element. */
.clearfix {
    clear: both;
}

section {
    border: 2px solid black;
}

h1 {
    color: gray;
}