.sidebar {
  height: 30vh;
  width: 30vw;
  background-color: blueviolet;
  color: white;
  text-align: end;
  padding: 1rem;
}

.block {
  width: 5rem;
  height: 5rem;
  background-color: purple;
  margin: 0.1rem;
}

.list {
  list-style-type: none;
  padding: 0;
}

.listElement {
  height: 5rem;
  background-color: green;
  border: 2px solid darkgreen;
  margin-left: 2rem;
  margin-right: 2rem;
}

.space {
  margin-bottom: 2rem;
}
