.pizzaApp {
  margin: 0 5rem;
}

.pizzaApp h1 {
  /* color: var(--accentColor); */
  color: var(--secondaryColor);
  font-size: medium;
}

.settings{
  margin-top: 1rem;
  width: 100%;
  height: 60vh;
  /* background-color: var(--light); */
  background-color: var(--primaryColor);
}
